.blog_body{
  position: absolute;
  left: 160px;
  top: 160px;
  display: block;
}
.body2{
  position: absolute;
  left: 0px;
  top: 260px;
  
}
.buttons{
  position: absolute; 
  top: 130px; 
  left: -10px; 
  right: 0px; 
  display: block;
}
@media only screen and (max-width: 992px){
  
}
