.blog_body{
  position: absolute;
  left: 160px;
  top: 160px;
  display: block;
}
.body2{
  position: absolute;
  left: -6px;
  top: 293px;
  
}
.buttons{
  position: absolute; 
  top: 130px; 
  left: -10px; 
  right: 0px; 
  display: block;
}
@media only screen and (min-width: 992px){
  .blog_body{
    left: 240px;
  }
}
