.blog_body{
  position: absolute;
  left: 160px;
  top: 160px;
  display: block;
}
.body2{
  position: absolute;
  left: -6px;
  top: 293px;
  
}
.body3{
  position: absolute;
  left: 700px;
}
.body3_img{
  width: 250px;
  height: 300px
}
.buttons{
  position: absolute; 
  top: 130px; 
  left: -10px; 
  right: 0px; 
  display: block;
}
@media only screen and (min-width: 992px){
  .blog_body{
    left: 220px;
  }
  .body3{
    left: 780px;
  }
}
@media only screen and (max-width: 320px){
  .blog_body{
    top: 450px;
    left: 10px;
  }
  .body3{
    left: 150px;
  }
  .body3_img{
    width: 210px;
    height: 280px;
  }
  .body2{
    top: 1000px;
  }
}
@media only screen and (max-width: 600px){
  .blog_body{
    top: 450px;
    left: 10px;
  }
  .body3{
    left: 560px;
  }
  .body2{
    top: 293px;
  }
}
